body {
    font-family: 'Roboto';
    background: #D745F5; /* Old browsers */
    background: -moz-linear-gradient(top, #D745F5 0%, #E1975D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #D745F5 0%,#E1975D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #D745F5 0%,#E1975D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D745F5', endColorstr='#E1975D',GradientType=0 ); /* IE6-9 */
    width: 100%;
    height: 100vh;
}
.tap-place {
    position:absolute;
    width: 100%;
    height: 100vh;
    background-image: url('img/tap.png');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

.tap-place:active {
    animation: buttonchange 0.5s ease-in-out;
    -webkit-animation: buttonchange 0.5s ease-in-out;
}

@keyframes buttonchange {
    0% {background-image: url('img/tap.png');}
    50% {background-image: url('img/tap2.png');}
    100% {background-image: url('img/tap.png');}
}

@-webkit-keyframes buttonchange {
    0% {background-image: url('img/tap.png');}
    50% {background-image: url('img/tap2.png');}
    100% {background-image: url('img/tap.png');}
}

.connect-popup {
    width: 80%;
    height:80vw;
    background-color: rgba(255,255,255,0.9);
    border-radius: 3vw;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    padding-top: 10vw;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.2);
}
.connect-popup .inputs {
    border: 2px solid #D745F5;
    border-radius: 1vw;
    width: 80%;
}
.error {
    display: none;
}
.connect-popup h3 {
    font-size: 5vw;
    line-height: 5vw;
    color: #E1975D;
}

.clearfix {
    clear: both;
}
inputs:-webkit-input-placeholder {
    color: #E1975D;
}

inputs-moz-placeholder {
    color: #E1975D;
}

.inputs {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 300px;
    margin-bottom: 20px;
    box-shadow: inset 0 2px 3px rgba( 0, 0, 0, 0.1 );
    clear: both;
}

.inputs:focus {
    background: #fff;
    box-shadow: 0 0 0 3px #fff38e, inset 0 2px 3px rgba( 0, 0, 0, 0.2 ), 0px 5px 5px rgba( 0, 0, 0, 0.15 );
    outline: none;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    }

    .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    }
    
    .n-text {
  font: normal normal bold 24px/normal "Atomic Age", Helvetica, sans-serif;
  color: rgb(64, 126, 196);
  margin-left:20px;
}

.signup {
    position:absolute;
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    background: #D745F5; /* Old browsers */
    background: -moz-linear-gradient(top, #D745F5 0%, #E1975D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #D745F5 0%,#E1975D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #D745F5 0%,#E1975D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D745F5', endColorstr='#E1975D',GradientType=0 ); /* IE6-9 */
}

.signup, .leader-board {
    display:none;
}

.signup h3 {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    font-size: 3vh;
    color: #fff;
    text-transform: uppercase;
}
.signup .score {
    font-size: 20vh;
    display:block;
    width: 100%;
    text-align:center;
    color: #fff;
}
.signup-wrapper {
    height: 100vw;
    width: 80%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    text-align:center;
}

::-webkit-input-placeholder {
   color: #E1975D;
}

:-moz-placeholder { /* Firefox 18- */
   color: #E1975D;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #E1975D;  
}

:-ms-input-placeholder {  
   color: #E1975D;  
}

.signup .signup-input {
    background-color: rgba(255,255,255, 0.7);
    margin-bottom: 20px;
    width: 80%;
    height: 10vw;
    border: none;
    padding: 10px;
    font-size: 3vw;
    line-height:3vw;
    color: #E1975D;
}

.signup .signup-button {
    width: 80%;
    height:20vw;
    font-size: 5vw;
    line-height:20vw;
    background-color:#4867AA!important;
    border: none;
    margin: auto;
    padding: 0;
    color: #fff;
}
.leader-board {
    color: #fff;
    width:100%;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    top:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);

    display: none;
}
.leader-board h3 {
    width: 100%;
    text-align: center;
}

.leader-board .item {
    margin: auto;
    max-width: 400px;
    width: 80%;
    margin-bottom: 20px;
}
.current-leader .position, .leader-board .item .position {
    width: 12.5%;
    float:left;
    font-size: 30px;
    line-height: 30px;
}
.current-leader .profile-photo, .leader-board .item .profile-photo {
    width: 30px;
    height: 30px;
    margin-right: 1vw;
    float:left;
    background-image: url('img/face.jpeg');
    background-size:contain;
    background-position: center;
    border-radius: 50%;
}
.current-leader .score-wrapper, .leader-board .item .score-wrapper {
    width: 70%;
    float: left;
}
.current-leader .score-wrapper .name, .leader-board .item  .score-wrapper .name {
    display:block;
    text-align: left;
    width: 60%;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    float:left;
}
.current-leader .score-wrapper .points, .leader-board .item .score-wrapper .points {
    display:block;
    width: 40%;
    font-size:28px;
    line-height: 28px;
    text-align:left;
    float:left;
}
.current-leader .prize, .leader-board .item .prize  {
    width:10%;
    float:left;
}

.restart-wrapper {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left:0;
    right:0;
    margin:auto;
    text-align:center;
}