

@font-face {
    font-family: 'BloggerSans'; 
    src: url('Blogger_Sans-Medium.otf'); 
}


body, html {
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100vh;
    width: 100%;
    overflow:hidden;
    font-family: 'Architects Daughter', cursive;
}
canvas {
    margin-bottom: -4px;
    max-height: 100%;
    max-width: 100%;
}
iframe {
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -76px;
    border: none;
}

canvas {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index: 1;
}
.content {
    border:none!important;
}
#interactionsHash {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    clear: both;
}

.landing-page, .get-ready, .leader-board, .signup {
    color: #fff;
    width:100%;
    max-width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
.landing-page {
    z-index: 2;
}
.get-ready {
    z-index: 3;
}
.leader-board {
    z-index: 4;
}
.signup {
    z-index: 5;
}

.landing-page h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
}
.current-leader {
    width: 100%;
    color: #FFEA05;
}
.current-leader .position, .leader-board .item .position {
    width: 12.5%;
    float:left;
    font-size: 3.5vh;
    line-height: 3.5vh;
}
.current-leader .profile-photo, .leader-board .item .profile-photo {
    width: 4vh;
    height: 4vh;
    margin-right: 1vw;
    float:left;
    background-image: url('img/face.jpeg');
    background-size:contain;
    background-position: center;
    border-radius: 50%;
}
.current-leader .score-wrapper, .leader-board .item .score-wrapper {
    width: 55%;
    float: left;
}
.current-leader .score-wrapper .name, .leader-board .item  .score-wrapper .name {
    display:block;
    text-align: left;
    width: 60%;
    font-size: 3.5vh;
    line-height: 3.5vh;
    font-weight: 300;
    float: left;
}
.current-leader .score-wrapper .points, .leader-board .item .score-wrapper .points {
    display:block;
    width: 40%;
    font-size:3.5vh;
    line-height: 3.5vh;
    text-align:left;
    float: left;
}
.current-leader .prize, .leader-board .item .prize  {
    width:20%;
    float:left;
}

.landing-page .main-header {
    position: absolute;
    top:25vh;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    height:60vh;
    font-size: 5vh;
    text-align: center;
    padding:5vw;
}

.landing-page .main-header span {
    display:block;
}
.landing-page .main-header span b {
    font-size: 3.5vh;
}
.landing-page .main-header .logo {
/*    background-image: url('img/logobit.png'); 
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%; */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20vh;
    width: 20vh;
    margin:auto;
}
.landing-page .main-header .play-now {
    font-size:2.5vh;
    color: grey;
}
.landing-page .main-header #qrcode {
    height: 440px;
    width: 440px;
    /* background-color: grey; 
    padding: 20px; */
    margin: auto;

}
.landing-page .main-header #qrcode img {
    width: 35vw;
    margin-left: 13vw;
    margin-top: 47vw;
}

.landing-page .main-header .shortlink {
    width: 100%;
    text-align: center;
    font-size: 3vh;
    margin-top: 0.5vh;
    font-family: 'Roboto', sans-serif;
}

/* .get-ready {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */

.get-ready h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 0;
}
.get-ready .counter {
    font-size: 6vh;
    line-height: 6vh;
    font-weight: 300;
}
.get-ready .instruction-tap {
    font-size: 2vh;
    text-transform: uppercase;
    color:#FFEA05;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 50vh;
}
.get-ready .instruction-tap .phone {
    background-image: url('img/phone.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1vh;
    width: 100%;
    height: 40vh;
}

.leader-board h3 {
    width: 100%;
    text-align: center;
    font-size: 2.5vh;
}

/* .leader-board {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */
.leader-board .item {
    color: #FFEA05;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

/* .signup {
    color: #fff;
    width:75vh;
    height: 100vh;
    position:absolute;
    left:0;
    right:0;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
} */
.signup h3 {
    width: 100%;
    text-align: center;
    font-size: 3.5vh;
    color: #FFEA05;
    margin-bottom: 0;
    font-weight:300;
}
.signup .score {
    width: 100%;
    text-align:center;
    font-size:6vh;
    color: #FFEA05;
}
.signup .instruction-signup {
    font-size: 2vh;
    text-transform: uppercase;
    color:#FFEA05;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 50vh;
}
.signup .instruction-signup .phone {
    background-image: url('img/phone_signup.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1vh;
    width: 100%;
    height: 40vh;
}

.signal-quality, .latency {
    display: none;
}

.latency {
    position:absolute;
    left:0;
    right:0;
    bottom:20px;
    margin: auto;
    height: 6vw;
    width: 25vw;
    z-index:100;
}
.latency h3 {
    margin-bottom: 0;
}
.latency .latency-value {
    font-size: 1.17em;
    width: 100%;
    text-align:center;
    display: block;
}

.signal-quality {
    position: absolute;
    left:20px;
    bottom:20px;
    width: 25vw;
    height: 6vw;
}

.signal-quality h3 {
    margin-bottom:0;
}
.progress-bar {
    
    width: 25vw;
    height:2vw;
    z-index: 100;
    border:2px solid #3db9ea;
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}



progress[value]::-webkit-progress-value {
  background-image:
       -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
       -webkit-linear-gradient(top, 
                               rgba(255, 255, 255, .25), 
                               rgba(0, 0, 0, .25)),
       -webkit-linear-gradient(left, #f44, #18de30);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    width: 100%;
    height: 2vw;
    
}
progress {
    width: 100%;
    background: red;
    -webkit-animation: animate-stripes 5s linear infinite;
    -webkit-: animate-stripes 5s linear infinite;
}
.sonae-logo {
    width: 25vw;
    height: 5vw;
    background-image: url('img/sonaeMC.png');
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
    position:absolute;
    bottom: 0;
    right: 0;
}






























.rendering-workaround {
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

}

.box {
    width: 100%;
    height: 100%;
}

.bg-overlay {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}

.swag-container {
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 49;
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -180%;
}

@keyframes swagshow {
    from, to {margin-left: 110%;}
    40% {margin-left: 76%;}
    60% {margin-left: 76%;}
}

@-webkit-keyframes swagshow {
    from, to {margin-left: 110%;}
    40% {margin-left: 76%;}
    60% {margin-left: 76%;}
}

.swagenecnik {
    /*position: relative;*/
    margin-top: 100%;
    /*margin-left: 110%;*/
    z-index: 50;
    animation: swagshow 8s infinite;
    -webkit-animation: swagshow 8s infinite;
}

@keyframes swagland {
    from {margin-top: -150%;}
    35% {opacity: 1;}
    40% {margin-top: -36.8%; transform:rotate(360deg);}
    60% {margin-top: -36.8%; transform:rotate(360deg);}
    65% {opacity: 1;}
    to {margin-top: -150%; transform:rotate(-360deg);}
}

@-webkit-keyframes swagland {
    from {margin-top: -150%;}
    35% {opacity: 1;}
    40% {margin-top: -36.8%; -webkit-transform:rotate(360deg);}
    60% {margin-top: -36.8%; -webkit-transform:rotate(360deg);}
    65% {opacity: 1;}
    to {margin-top: -150%; -webkit-transform:rotate(-360deg);}
}

.swaglasses {
    position: absolute;
    margin-top: -150%;
    margin-left: 22.3%;
    z-index: 51;
    opacity: 0;
    -webkit-animation: swagland 8s infinite;
}


.bg-overlay2-box {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 29;
    overflow: hidden;
}

@keyframes grow {
    20% {background-size: 120% 120%; background-position: 40% 30%; }
    50% {background-image: url("img/bg-overlay3.png");}
    60% {background-size: 120% 120%; background-position: 40% 30%; }
    100% {background-size: 100% 100%;}
}

@-webkit-keyframes grow {
    20% {background-size: 120% 120%; background-position: 40% 30%; }
    50% {background-image: url("img/bg-overlay3.png");}
    60% {background-size: 120% 120%; background-position: 40% 30%; }
    100% {background-size: 100% 100%;}
}


.bg-overlay2 {

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    background-image: url("img/bg-overlay2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    animation: grow 4s infinite;
    -webkit-animation: grow 4s infinite;
    overflow: hidden;
}


/*
1111

background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);

2222

background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);

3333

background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);

4444

background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);
*/




@keyframes flash {
    from {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    30% {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    32% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    34% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    36% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    38% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    40% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    42% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    44% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    46% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    48% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    50% {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    to {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
}

@-webkit-keyframes flash {
    from {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    30% {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    32% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    34% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    36% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    38% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    40% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    42% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    44% {background: linear-gradient(to bottom, #9144f7 0%, #e0f35b 100%);
background: -webkit-linear-gradient(top, #9144f7 0%,#e0f35b 100%);
background: -moz-linear-gradient(top, #9144f7 0%, #e0f35b 100%);}
    46% {background: linear-gradient(to bottom, #d7456c 0%, #eaab2d 100%);
background: -webkit-linear-gradient(top, #d7456c 0%,#eaab2d 100%);
background: -moz-linear-gradient(top, #d7456c 0%, #eaab2d 100%);}
    48% {background: linear-gradient(to bottom, #7dd408 0%, #32d8f8 100%);
background: -webkit-linear-gradient(top, #7dd408 0%,#32d8f8 100%);
background: -moz-linear-gradient(top, #7dd408 0%, #32d8f8 100%);}
    50% {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
    to {background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%);}
}



.colorbg-1 {
    width: 100%;
    height: 70%;
    position: absolute;
    animation: flash 4s infinite ;
    -webkit-animation: flash 4s infinite ;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom, #d744f7 0%, #e1985d 100%);
    background: -webkit-linear-gradient(top, #d744f7 0%,#e1985d 100%);
    background: -moz-linear-gradient(top, #d744f7 0%, #e1985d 100%); 
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d744f7', endColorstr='#e1985d',GradientType=0 );*/

}



@keyframes shake {
  10%, 90% {
  	transform: translate3d(-0.5px, -0.5px, 0);
    -webkit-transform: translate3d(-0.5px, -0.5px, 0);
  }
  
  20%, 80% {
  	transform: translate3d(0.5px, -1px, 0);
    -webkit-transform: translate3d(0.5px, -1px, 0);
  }

  30%, 50%, 70% {
  	transform: translate3d(-1px, -1.5px, 0);
    -webkit-transform: translate3d(-1px, -1.5px, 0);
  }

  40%, 60% {
  	transform: translate3d(1px, 1px, 0);
    -webkit-transform: translate3d(1px, 1px, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
  	transform: translate3d(-0.5px, -0.5px, 0);
    -webkit-transform: translate3d(-0.5px, -0.5px, 0);
  }
  
  20%, 80% {
  	transform: translate3d(0.5px, -1px, 0);
    -webkit-transform: translate3d(0.5px, -1px, 0);
  }

  30%, 50%, 70% {
  	transform: translate3d(-1px, -1.5px, 0);
    -webkit-transform: translate3d(-1px, -1.5px, 0);
  }

  40%, 60% {
  	transform: translate3d(1px, 1px, 0);
    -webkit-transform: translate3d(1px, 1px, 0);
  }
}

.link {
    position: absolute;
    width: 100%;
    margin-top: 82.3%;
    font-size: 45px;
    font-family: 'BloggerSans';
    color: white;
    /*-webkit-transform: translate3d(0, 0, 0);*/
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
    -webkit-animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
    
}


.main-header {
    margin-top: 20vh;
    z-index: 150;
}


